h2 {
  border: none;
  font-size: 110%;
  margin: 0 0 10px;
}

a {
  padding: 2px 15px;
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 15px;
  user-select: none;
}

span.dummy-title {background-color: black; color: white; padding: 2px;}
