.blog-entry {
  display: inline-block;
  border: 3px solid goldenrod;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 220px;
}

.title {
  font-weight: bold;
  font-size: 120%;
  color: darkgoldenrod;
}

.text-body {
  color: green;
}
